@import "tailwindcss";

:root {
  --background: #f3f5f7;
  --foreground: #1a1a1a;
  --black-10: rgba(0, 0, 0, 0.1);
  --grey-80: #808080;
  --font-family: "VelaSans", sans-serif;
  --font-bounded: "Bounded", sans-serif;
  --black-05: rgba(0, 0, 0, 0.05);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-30: rgba(0, 0, 0, 0.3);
  --primary: #1967f2;
  --red: #ff4545;
  --white: #ffffff;
  --yellow: #ffd527;
  --green: #24d56d;
  --gray-e6: #E6E6E6;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f5f7;
    --foreground: #1a1a1a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.search-icon path {
  stroke: var(--grey-80);
}
