@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bounded";
  src: url("../assets/fonts/Bounded/Bounded-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bounded";
  src: url("../assets/fonts/Bounded/Bounded-Black.ttf") format("truetype");
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: "Bounded";
  src: url("../assets/fonts/Bounded/Bounded-ExtraLight.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Bounded";
  src: url("../assets/fonts/Bounded/Bounded-Variable566.ttf") format("truetype");
  font-weight: 566;
}
@font-face {
  font-family: "Bounded";
  src: url("../assets/fonts/Bounded/Bounded-Variable466.ttf") format("truetype");
  font-weight: 466;
}

@font-face {
  font-family: "VelaSans";
  src: url("../assets/fonts/VelaSans/VelaSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VelaSans";
  src: url("../assets/fonts/VelaSans/VelaSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "VelaSans";
  src: url("../assets/fonts/VelaSans/VelaSans-ExtraLight.ttf")
    format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "VelaSans";
  src: url("../assets/fonts/VelaSans/VelaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "VelaSans";
  src: url("../assets/fonts/VelaSans/VelaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --background: #f3f5f7;
  --foreground: #1a1a1a;
  --foreground-50: rgba(26, 26, 26, 0.5);
  --black-10: rgba(0, 0, 0, 0.1);
  --grey-80: #808080;
  --font-family: "VelaSans", sans-serif;
  --font-bounded: "Bounded", sans-serif;
  --black-05: rgba(0, 0, 0, 0.05);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-30: rgba(0, 0, 0, 0.3);
  --primary: #1967f2;
  --red: #ff4545;
  --white: #ffffff;
  --yellow: #ffd527;
  --green: #24d56d;
  --gray-e6: #e6e6e6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f5f7;
    --foreground: #1a1a1a;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.login-bg {
  background-image: url("./login-bg.png");
  background-size: cover;
  background-position: center;
}

.tables {
  border: 1px solid var(--gray-e6);
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 20px;
  background: var(--white);
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}

.tables table {
  min-width: 100%;
  border: 1px solid var(--gray-e6);
  padding: 12px 12px 8px 12px;
  border-radius: 10px;
  border-collapse: inherit;
  background-color: var(--background);
}

.tables table thead tr th {
  padding: 0 10px 5px;
  color: #1a1a1a;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  text-wrap: none;
  white-space: nowrap;
}

.tables table thead tr th:first-child {
  padding-left: 0;
}

.tables table thead tr th:last-child {
  padding-right: 0;
  text-align: center;
}

.tables table tbody {
  --tw-divide-y-reverse: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: var(--white);
}

.tables table tbody tr td {
  padding: 5px 10px;
  border-top-width: 1px;
  border-color: var(--gray-e6);
  color: #1a1a1a;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.tables table tbody tr td:first-child {
  opacity: 1;
  font-weight: 500;
  padding-left: 0;
}

.tables table tbody tr td:last-child {
  padding-right: 0;
  text-align: center;
}

.tables table tbody tr:last-child td {
  padding-bottom: 0;
}

.board {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--white);
  border-radius: 20px;
  border: 1px solid var(--gray-e6);
  gap: 20px;
}

.page-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-headline .page-headline__title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.page-headline .page-headline__title .page-headline__h {
  font-family: "Bounded", sans-serif;
  font-size: 48px;
  font-weight: 566;
  color: var(--foreground);
}

.page-headline .page-headline__title .page-headline__counter {
  font-size: 32px;
  font-family: "Bounded", sans-serif;
  font-weight: 466;
  color: var(--primary);
}

@media (max-width: 768px) {
  .page-headline .page-headline__title .page-headline__h {
    font-size: 36px;
  }

  .page-headline .page-headline__title .page-headline__counter {
    font-size: 24px;
  }
}

.selection-btn {
  @apply w-full flex justify-between items-center gap-2.5 whitespace-nowrap
  border border-[var(--gray-e6)] bg-[var(--background)] rounded-full text-xl font-medium text-[var(--foreground)] py-3 pl-5 pr-3;
}

.selection-options {
  @apply absolute mt-1 w-full bg-white border border-gray-200 rounded-lg shadow-lg z-10 overflow-auto max-h-60;
}

.input {
  @apply w-full bg-[var(--white)] min-h-[60px] border border-[var(--gray-e6)] rounded-[15px] px-5 flex items-center text-xl font-semibold text-[var(--foreground)] focus:outline-none;
}

/* Скрываем всё на странице при печати */
@media print {
  body * {
    visibility: hidden;
  }

  /* Показываем контейнер с таблицей и его содержимое */
  .printable-table-container,
  .printable-table-container * {
    visibility: visible;
  }

  /* Позиционируем таблицу в левом верхнем углу печатной страницы */
  .printable-table-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* Если нужно — отключить цветные фоны, обрезать тени и т.д. */
  /* @page { color-adjust: exact; } */
}

.card {
  @apply bg-[var(--background)] border border-[var(--gray-e6)] rounded-[10px] p-3 pb-2 flex flex-col gap-2 min-h-[105px] justify-between;
}

.card label {
  @apply font-[Bounded] text-[var(--foreground)] text-2xl font-[466] opacity-50;
}

.card input {
  @apply w-full bg-transparent outline-none text-2xl font-[Bounded] font-[466];
}

.card select {
  @apply w-full bg-transparent outline-none text-2xl font-[Bounded] font-[466] p-0;
}
